div.cart-entries-container {
    background-color: #FFFFFF;
    margin: 0;
    border-radius: 0.25rem;
}

.cart-summary {
    padding: 1.25rem;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    margin: 0;
}

.cart-summary-right {
    text-align: right;
}

.cart-summary-right b {
    font-size: 1.2em;
}