<configuration>

    <if condition='property("spring.profiles.active").equals("production")'>
        <then>
            <include resource="logback-production.xml"/>
        </then>
        <else>
            <include resource="logback-development.xml"/>
        </else>
    </if>

    <logger name="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver" level="error"/>

</configuration>
