.primary-product-image {
    width: 100%;
}

div.product-content-container {
    background-color: #FFFFFF;
    padding: 15px 0;
    margin: 0;
    border-radius: 0.25rem;
}

.price-value {
    color: #B12704;
}

.amount-select {
    width: auto;
}

.control-container {
    margin: 5px 0;
}

.control-container .row {
    margin: 7px 0;
}

.total-price {
    margin-top: 30px;
    font-size: 1.25em;
}