div.content-container {
    padding: 20px;
}

div.card-deck div.card {
    width: 350px;
}

div.card-img-container {
    height: 230px;
    width: 350px;
}

div.card-img-container.chicken {
    background-image: url('/img/products/cards/chicken.jpg');
}

div.card-img-container.dog {
    background-image: url('/img/products/cards/dog.jpg');
}

div.card-img-container.horse {
    background-image: url('/img/products/cards/horse.jpg');
}

div.card-img-container:hover {
    box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.6);
}
