.stage {
    height: 200px;
    position: relative;
    box-shadow: inset 0 0 20px 10px rgba(0,0,0,0.6);
}

.stage.root {
    background-image: url('/img/root.jpg');
}

.stage.about-us {
    background-image: url('/img/about-us.jpg');
}

.stage.gallery {
    background-image: url('/img/gallery.jpg');
}

.stage.products {
    background-image: url('/img/products.jpg');
}

.stage.contact {
    background-image: url('/img/contact.jpg');
}

.stage.chicken {
    background-image: url('/img/products/chicken-stage.jpg');
}

.stage h1 {
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
}

.stage-header-container {
    padding: 20px;
    position: absolute;
    bottom: 0;
}