table#productsSearchTable {
    table-layout: fixed;
}

table#productsSearchTable a,
table#productsSearchTable span {
    display: inline-block;
    width: 100%;
}

table#productsSearchTable td {
    word-wrap:break-word;
}
