table#productSearchTable {
    table-layout: fixed;
}

table#productSearchTable a,
table#productSearchTable span {
    display: inline-block;
    width: 100%;
}

table#productSearchTable td {
    word-wrap:break-word;
}
